
@media screen and (max-width:992px){
    /*nav{
        position: relative;
    }*/

 #menu-checked:checked ~ ul.flex {
        display: flex; }
      
    label .open{
        display: inherit;
     } 
 label .close{
     display: none;
 }          
 
        
#menu-checked:checked ~ label .open{
      display: none; }
 #menu-checked:checked ~ label .close{
        display:inline; }
        

    ul.flex{
        display:none;
        flex-direction: column;
        position: absolute;
        top:66px;
        left: 0px;
        padding: 80px;
        width: 100%;
        justify-content: center;
        backdrop-filter: blur(10px);
        background-color:#ffffff84


    }

header .flex{
    flex-direction: column-reverse;
    gap:3rem;
}
header{ margin: 3rem 0;}

.header-content{
    width: 100%;
}
.services.card{
   width:100%;
}
.services .card{
width:100%;
}
.testimonial.flex{
    gap:50px;
    flex-direction: column;
}
.testimonial .content, .testimonial .qoute{
    width: 100%;
}
.articles .card{
    width:45%;
    max-width: 100%;
}
.articles .flex{
    gap: 2rem;
}
.flex.root{
    flex-direction: column;
    gap:40px;
}
footer .flex{
    flex-direction: column;
    gap: 3rem;
}

}
@media screen and ( max-width:768px ) {
  
    .articles .card{
        width: 100%
    }
   /* .photo{
        max-width: 100%;
    }*/
}